

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/******************************************/
/***************PAGE ACCEUIL***************/
/*****************************************/

body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
/******************************************/
/******************HEADER*****************/
/*****************************************/
.acceuil{
  height: 450px;
  width: 100%;
  background-color: white;
  background-image: url('../img/newyork.png');
  background-position: bottom;
  background-repeat: repeat-x;
}


ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;

}

 ul li{

  font-size: 2em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: grey;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 300px;
  border-radius: 5px;
}

li a{
  color: #333333;

}

.portfolio{
  margin-top: 80px;
  font-size: 6em;
  text-align: center;

}

a:hover{
  color: white;
}

.container-index{
  display: none;
}
/******************************************/
/******************FOOTER*****************/
/*****************************************/
hr{
  width: 40%;
  margin-top: 50px;

}

.copyright{
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.initiale{
  font-size: 6em;
  text-align: center;
}


/******************************************/
/************MEDIA QUERIES*****************/
/*****************************************/

@media screen and (max-width: 1030px){
/******************************************/
/******************HEADER*****************/
/*****************************************/

ul{
  display: none;
}

.container{
  display: block;
  padding-top: 20px;
  font-size: 2em;
}

a{
  color: #333333;
}

.glyphicon{
  margin-right:10px;
}

.panel-body{
  padding:0px;
}

.panel-body table tr td{
  padding-left: 15px;
  color: grey;
}

.panel-body .table{
  margin-bottom: 0px;
}

.panel-title{
  height: 40px;
  font-size: 1.2em;
}
}

/******************************************/
/**************PAGE ACCEUIL END***********/
/*****************************************/


/******************************************/
/**************PAGE ABOUT******************/
/*****************************************/


/******************************************/
/******************HEADER******************/
/*****************************************/
.about{
  width: 100%;
  height: 350px;
  background-color: white;
  background-image: url('../img/newyork.png');
  background-position: bottom;
}

/******************************************/
/******************SECTION*****************/
/*****************************************/
.xavier{

  width: 740px;
  text-align: justify;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 100px;
  margin-right: 5px;
  border-radius: 5px;
}
.abdifatah{
  width: 740px;
  text-align: justify;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 100px;
  margin-left: 5px;
  border-radius: 5px;
}
.wrapper{
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  justify-content: space-between;
  display: flex;

  font-size: 1.5em;
}

.nom{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.home{
  display: block;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}

.home:hover
{
  opacity: 1;
}

.nav-about ul li{
  margin-top: 200px;
}
/******************************************/
/************MEDIA QUERIES*****************/
/*****************************************/

@media screen and (max-width: 700px){

.xavier{
  margin-left: 10px;
}

.abdifatah{
  margin-right: 10px;
}
}

/******************************************/
/************PAGE ABOUT END****************/
/*****************************************/



/******************************************/
/***************PAGE CONTACT***************/
/*****************************************/
address{
  margin-left: 60px;
  margin-top: 50px;
}

.media{
  display: flex;
}

.facebook{
  margin-left: 10px;
  margin-right: 10px;

}

.us{
  padding-top: 50px;
  text-align: center;
  text-decoration: underline;
}


/******************************************/
/*********PAGE ABDIFATAH & XAVIER*********/
/*****************************************/
.work{
  display: flex;
  width: 920px;
  height: 610px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.item{
  border-radius: 5px;
  width: 300px;
}

.describe{
  width: 180px;
  text-align: center;
}

article{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.img-fatah{
  border-radius: 10px;
  margin-right: 10px;
}

h1{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
  margin-top: 50px;
}

/******************************************/
/************MEDIA QUERIES*****************/
/*****************************************/
@media screen and (max-width: 920px){

.work{
  width: 610px;
  height: 920px;
}

}

@media screen and (max-width: 610px){

.work{
  width: 300px;
  height: 1860px;
}
}

/******************************************/
/*******PAGE ABDIFATAH & XAVIER END*******/
/*****************************************/
